# --- Python (Backend) ---
__pycache__/
*.py[cod]
backend/venv/
backend/.env
backend/uploads/logs/
*.log

# --- Node/React (Frontend) ---
frontend/node_modules/
frontend/build/
.DS_Store

# --- Systemowe ---
.vscode/
.idea/
.github/